{
  "openapi": "3.0.0",
  "info": {
    "title": "ShipBob Developer API (2.0)",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.shipbob.com/2.0/"
    },
    {
      "url": "https://sandbox-api.shipbob.com/2.0/"
    }
  ],
  "paths": {
    "/webhook": {
      "post": {
        "summary": "Create a new webhook subscription",
        "operationId": "72e0c2d956e31774c876c58c53e8dce0",
        "parameters": [
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "description": "",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Webhooks.WebhookViewModel"
                },
                "example": {
                  "application/json": {
                    "created_at": "2019-08-24T14:15:22Z",
                    "id": 12345,
                    "subscription_url": "http://example.com",
                    "topic": "order_shipped"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Webhooks.Post.1.0.Webhook.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Webhooks.Post.1.0.Webhook.Unprocessable.Entity.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "x-name": "webhooks.CreateWebhookSubscriptionModel",
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "$ref": "#/components/schemas/Webhooks.CreateWebhookSubscriptionModel"
              }
            }
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Webhooks"
        ]
      },
      "get": {
        "summary": "Get Webhooks",
        "description": "All parameters are AND filters",
        "operationId": "e9181e4f0862d1d40e984035d6261bc9",
        "parameters": [
          {
            "name": "Topic",
            "in": "query",
            "description": "Topic of the webhooks requested",
            "schema": {
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page of Webhooks to get",
            "schema": {
              "type": "number",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 0,
              "additionalProperties": false
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "Amount of Webhooks per page to request",
            "schema": {
              "type": "number",
              "format": "int32",
              "maximum": 250,
              "minimum": 1,
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Page-Number": {
                "description": "Number of the current page",
                "schema": {
                  "type": "object",
                  "format": "",
                  "additionalProperties": false
                }
              },
              "Total-Pages": {
                "description": "Total number of pages of results",
                "schema": {
                  "type": "object",
                  "format": "",
                  "additionalProperties": false
                }
              },
              "Total-Count": {
                "description": "Total number of results",
                "schema": {
                  "type": "object",
                  "format": "",
                  "additionalProperties": false
                }
              },
              "Page-Size": {
                "description": "Number of results per page",
                "schema": {
                  "type": "object",
                  "format": "",
                  "additionalProperties": false
                }
              },
              "Next-Page": {
                "description": "The href of the next page of results, if there is a next page",
                "schema": {
                  "type": "object",
                  "format": "",
                  "additionalProperties": false
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Webhooks.WebhookViewModelArray"
                },
                "example": {
                  "application/json": [
                    {
                      "created_at": "2019-08-24T14:15:22Z",
                      "id": 12345,
                      "subscription_url": "http://example.com",
                      "topic": "order_shipped"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Webhooks.Get.1.0.Webhook.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/webhook/{id}": {
      "delete": {
        "summary": "Delete an existing webhook subscription",
        "operationId": "db62c75d5623351365b17c3d309b2745",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Webhooks.HttpValidationProblemDetails"
                },
                "example": {
                  "application/json": {
                    "$type": "string",
                    "detail": "string",
                    "errors": {
                      "property1": [
                        "string"
                      ],
                      "property2": [
                        "string"
                      ]
                    },
                    "extensions": {
                      "property1": {

                      },
                      "property2": {

                      }
                    },
                    "instance": "string",
                    "status": 0,
                    "title": "string",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/order/{orderId}/shipment/{shipmentId}/cancel": {
      "post": {
        "summary": "Cancel one Shipment by Order Id and Shipment Id",
        "operationId": "3bc94b60cb23d76de794549b5af84198",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "description": "The shipment id to get",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "description": "Channel Id for Operation",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.OrderId.Shipment.ShipmentId.Cancel.OK.OneOf.ShipmentViewModel.InternalShipmentViewModel"
                },
                "example": {
                  "application/json": {
                    "actual_fulfillment_date": "2019-08-24T14:15:22Z",
                    "created_date": "2019-08-24T14:15:22Z",
                    "delivery_date": "2019-08-24T14:15:22Z",
                    "estimated_fulfillment_date": "2019-08-24T14:15:22Z",
                    "estimated_fulfillment_date_status": "AwaitingInventoryAllocation",
                    "gift_message": "string",
                    "id": 0,
                    "insurance_value": 0,
                    "invoice_amount": 0,
                    "invoice_currency_code": "string",
                    "is_tracking_uploaded": true,
                    "last_tracking_update_at": "2019-08-24T14:15:22Z",
                    "last_update_at": "2019-08-24T14:15:22Z",
                    "location": {
                      "id": 0,
                      "name": "Cicero (IL)"
                    },
                    "measurements": {
                      "depth_in": 0,
                      "length_in": 0,
                      "total_weight_oz": 0,
                      "width_in": 0
                    },
                    "order_id": 0,
                    "package_material_type": "Unknown",
                    "parent_cartons": [
                      {
                        "barcode": "string",
                        "cartons": [
                          {
                            "barcode": "string",
                            "carton_details": [
                              {
                                "products": [
                                  {
                                    "id": 0,
                                    "inventory_items": [
                                      {
                                        "expiration_date": "2019-08-24T14:15:22Z",
                                        "id": 0,
                                        "is_dangerous_goods": true,
                                        "lot": "22222",
                                        "name": "Medium Blue T-Shirt",
                                        "quantity": 0,
                                        "quantity_committed": 0,
                                        "serial_numbers": [
                                          "string"
                                        ]
                                      }
                                    ],
                                    "name": "Medium Blue T-Shirt",
                                    "reference_id": "TShirtBlueM",
                                    "sku": "TShirtBlueM"
                                  }
                                ]
                              }
                            ],
                            "id": 0,
                            "measurements": {
                              "depth_in": 0.1,
                              "length_in": 0.1,
                              "total_weight_oz": 0.1,
                              "width_in": 0.1
                            },
                            "type": "Box or pallet"
                          }
                        ],
                        "measurements": {
                          "depth_in": 0.1,
                          "length_in": 0.1,
                          "total_weight_oz": 0.1,
                          "width_in": 0.1
                        },
                        "type": "Box or pallet"
                      }
                    ],
                    "products": [
                      {
                        "id": 0,
                        "inventory_items": [
                          {
                            "expiration_date": "2019-08-24T14:15:22Z",
                            "id": 0,
                            "is_dangerous_goods": true,
                            "lot": "22222",
                            "name": "Medium Blue T-Shirt",
                            "quantity": 0,
                            "quantity_committed": 0,
                            "serial_numbers": [
                              "string"
                            ]
                          }
                        ],
                        "name": "Medium Blue T-Shirt",
                        "reference_id": "TShirtBlueM",
                        "sku": "TShirtBlueM"
                      }
                    ],
                    "recipient": {
                      "address": {
                        "address1": "100 Nowhere Blvd",
                        "address2": "Suite 100",
                        "city": "Gotham City",
                        "company_name": "Wayne Enterprises",
                        "country": "US",
                        "state": "NJ",
                        "zip_code": "07093"
                      },
                      "email": "john@example.com",
                      "full_name": "John Doe",
                      "name": "John Doe",
                      "phone_number": "555-555-5555"
                    },
                    "reference_id": "string",
                    "require_signature": true,
                    "ship_option": "Standard",
                    "status": "None",
                    "status_details": [
                      {
                        "description": "string",
                        "exception_fulfillment_center_id": 0,
                        "extra_information": {
                          "validation_messages": [
                            "string"
                          ]
                        },
                        "id": 0,
                        "inventory_id": 0,
                        "name": "string"
                      }
                    ],
                    "tracking": {
                      "bol": "string",
                      "carrier": "USPS",
                      "carrier_service": "Priority",
                      "pro_number": "string",
                      "scac": "string",
                      "shipping_date": "2019-08-24T14:15:22Z",
                      "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                      "tracking_url": "https://www.example.com/tracking?id=860C8CDC8F0B4FC7AB69AC86C20539EC"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.OrderId.Shipment.ShipmentId.Cancel.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.OrderId.Shipment.ShipmentId.Cancel.Unprocessable.Entity.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.OrderId.Shipment.ShipmentId.Cancel.Internal.Server.Error.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/order/estimate": {
      "post": {
        "summary": "Estimate Fulfillment Cost For Order",
        "description": "This endpoint will provide, where possible, an estimate of pricing and fulfillment center assignment of a potential standard (direct to consumer) order. Keep in mind that there are ways for the merchant to change FC assignment or product configuration after order creation that could invalidate this estimate. Estimates cannot be returned for items that are unknown, out of stock, or too large for fulfillment using standard box sizes. Additional services such as high-pick fees, shipping insurance, auto-splitting or auto-adding items to orders, and signature required are not included in this estimate.",
        "operationId": "77a8ea8828da55afca0929f5d8f0ba32",
        "parameters": [
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "required": true,
            "description": "Channel Id for Operation",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.EstimateViewModel"
                },
                "example": {
                  "application/json": {
                    "estimates": [
                      {
                        "estimated_currency_code": "string",
                        "estimated_price": 0.1,
                        "fulfillment_center": {
                          "id": 0,
                          "name": "Cicero (IL)"
                        },
                        "shipping_method": "string",
                        "total_weight_oz": 0.1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.Estimate.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.Estimate.Unprocessable.Entity.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "x-name": "orders.EstimateFulfillmentRequestModel",
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "$ref": "#/components/schemas/Orders.EstimateFulfillmentRequestModel"
              }
            }
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/shippingmethod": {
      "get": {
        "summary": "Get shipping methods",
        "description": "Get all merchants shipping methods",
        "operationId": "2024486cc9eff567290873743fa16fc9",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "description": "Page of orders to get",
            "schema": {
              "type": "number",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 0,
              "additionalProperties": false
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "Amount of records per page to request",
            "schema": {
              "type": "number",
              "format": "int32",
              "maximum": 250,
              "minimum": 1,
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.ShipMethodDetailViewModelArray"
                },
                "example": {
                  "application/json": [
                    {
                      "active": true,
                      "default": true,
                      "id": 0,
                      "name": "string",
                      "service_level": {
                        "id": 0,
                        "name": "string"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Get.Api.Shippingmethod.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Get.Api.Shippingmethod.Unprocessable.Entity.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/order/{orderId}/shipment/{shipmentId}": {
      "get": {
        "summary": "Get one Shipment by Order Id and Shipment Id",
        "operationId": "4a91e4ebbcfdf842cefb9a16c69cd278",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The order id to get the shipment for",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "description": "The shipment id to get",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          },
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "description": "Channel Id for Operation",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Get.Api.Order.OrderId.Shipment.ShipmentId.OK.OneOf.ShipmentViewModel.InternalShipmentViewModel"
                },
                "example": {
                  "application/json": {
                    "actual_fulfillment_date": "2019-08-24T14:15:22Z",
                    "created_date": "2019-08-24T14:15:22Z",
                    "delivery_date": "2019-08-24T14:15:22Z",
                    "estimated_fulfillment_date": "2019-08-24T14:15:22Z",
                    "estimated_fulfillment_date_status": "AwaitingInventoryAllocation",
                    "gift_message": "string",
                    "id": 0,
                    "insurance_value": 0,
                    "invoice_amount": 0,
                    "invoice_currency_code": "string",
                    "is_tracking_uploaded": true,
                    "last_tracking_update_at": "2019-08-24T14:15:22Z",
                    "last_update_at": "2019-08-24T14:15:22Z",
                    "location": {
                      "id": 0,
                      "name": "Cicero (IL)"
                    },
                    "measurements": {
                      "depth_in": 0,
                      "length_in": 0,
                      "total_weight_oz": 0,
                      "width_in": 0
                    },
                    "order_id": 0,
                    "package_material_type": "Unknown",
                    "parent_cartons": [
                      {
                        "barcode": "string",
                        "cartons": [
                          {
                            "barcode": "string",
                            "carton_details": [
                              {
                                "products": [
                                  {
                                    "id": 0,
                                    "inventory_items": [
                                      {
                                        "expiration_date": "2019-08-24T14:15:22Z",
                                        "id": 0,
                                        "is_dangerous_goods": true,
                                        "lot": "22222",
                                        "name": "Medium Blue T-Shirt",
                                        "quantity": 0,
                                        "quantity_committed": 0,
                                        "serial_numbers": [
                                          "string"
                                        ]
                                      }
                                    ],
                                    "name": "Medium Blue T-Shirt",
                                    "reference_id": "TShirtBlueM",
                                    "sku": "TShirtBlueM"
                                  }
                                ]
                              }
                            ],
                            "id": 0,
                            "measurements": {
                              "depth_in": 0.1,
                              "length_in": 0.1,
                              "total_weight_oz": 0.1,
                              "width_in": 0.1
                            },
                            "type": "Box or pallet"
                          }
                        ],
                        "measurements": {
                          "depth_in": 0.1,
                          "length_in": 0.1,
                          "total_weight_oz": 0.1,
                          "width_in": 0.1
                        },
                        "type": "Box or pallet"
                      }
                    ],
                    "products": [
                      {
                        "id": 0,
                        "inventory_items": [
                          {
                            "expiration_date": "2019-08-24T14:15:22Z",
                            "id": 0,
                            "is_dangerous_goods": true,
                            "lot": "22222",
                            "name": "Medium Blue T-Shirt",
                            "quantity": 0,
                            "quantity_committed": 0,
                            "serial_numbers": [
                              "string"
                            ]
                          }
                        ],
                        "name": "Medium Blue T-Shirt",
                        "reference_id": "TShirtBlueM",
                        "sku": "TShirtBlueM"
                      }
                    ],
                    "recipient": {
                      "address": {
                        "address1": "100 Nowhere Blvd",
                        "address2": "Suite 100",
                        "city": "Gotham City",
                        "company_name": "Wayne Enterprises",
                        "country": "US",
                        "state": "NJ",
                        "zip_code": "07093"
                      },
                      "email": "john@example.com",
                      "full_name": "John Doe",
                      "name": "John Doe",
                      "phone_number": "555-555-5555"
                    },
                    "reference_id": "string",
                    "require_signature": true,
                    "ship_option": "Standard",
                    "status": "None",
                    "status_details": [
                      {
                        "description": "string",
                        "exception_fulfillment_center_id": 0,
                        "extra_information": {
                          "validation_messages": [
                            "string"
                          ]
                        },
                        "id": 0,
                        "inventory_id": 0,
                        "name": "string"
                      }
                    ],
                    "tracking": {
                      "bol": "string",
                      "carrier": "USPS",
                      "carrier_service": "Priority",
                      "pro_number": "string",
                      "scac": "string",
                      "shipping_date": "2019-08-24T14:15:22Z",
                      "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                      "tracking_url": "https://www.example.com/tracking?id=860C8CDC8F0B4FC7AB69AC86C20539EC"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Get.Api.Order.OrderId.Shipment.ShipmentId.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/order": {
      "post": {
        "summary": "Create Order",
        "operationId": "014d459354b1309064ac8ab6993c7394",
        "parameters": [
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "required": true,
            "description": "Channel Id for Operation",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.OrderViewModel"
                },
                "example": {
                  "application/json": {
                    "channel": {
                      "id": 0,
                      "name": "ShipBobs-Shopify-Store"
                    },
                    "created_date": "2019-08-24T14:15:22Z",
                    "financials": {
                      "total_price": 0.1
                    },
                    "gift_message": "string",
                    "id": 0,
                    "order_number": "string",
                    "products": [
                      {
                        "external_line_id": 0,
                        "gtin": "string",
                        "id": 0,
                        "quantity": 0,
                        "quantity_unit_of_measure_code": "string",
                        "reference_id": "TShirtBlueM",
                        "sku": "TShirtBlueM",
                        "unit_price": 0.1,
                        "upc": "string"
                      }
                    ],
                    "purchase_date": "2019-08-24T14:15:22Z",
                    "recipient": {
                      "address": {
                        "address1": "100 Nowhere Blvd",
                        "address2": "Suite 100",
                        "city": "Gotham City",
                        "company_name": "Wayne Enterprises",
                        "country": "US",
                        "state": "NJ",
                        "zip_code": "07093"
                      },
                      "email": "john@example.com",
                      "name": "John Doe",
                      "phone_number": "555-555-5555"
                    },
                    "reference_id": "string",
                    "retailer_program_data": {
                      "addresses": [
                        {
                          "address1": "100 Nowhere Blvd",
                          "address2": "Suite 100",
                          "city": "Gotham City",
                          "company_name": "Wayne Enterprises",
                          "country": "US",
                          "state": "NJ",
                          "type": "MarkFor",
                          "zip_code": "07093"
                        }
                      ],
                      "customer_ticket_number": "string",
                      "delivery_date": "2019-08-24T14:15:22Z",
                      "department": "string",
                      "doNotShipBeforeDate": "2019-08-24T14:15:22Z",
                      "mark_for_store": "string",
                      "purchase_order_number": "string",
                      "retailer_program_type": "string",
                      "shipByDate": "2019-08-24T14:15:22Z"
                    },
                    "shipments": [
                      {
                        "actual_fulfillment_date": "2019-08-24T14:15:22Z",
                        "created_date": "2019-08-24T14:15:22Z",
                        "delivery_date": "2019-08-24T14:15:22Z",
                        "estimated_fulfillment_date": "2019-08-24T14:15:22Z",
                        "estimated_fulfillment_date_status": "AwaitingInventoryAllocation",
                        "gift_message": "string",
                        "id": 0,
                        "insurance_value": 0,
                        "invoice_amount": 0,
                        "invoice_currency_code": "string",
                        "is_tracking_uploaded": true,
                        "last_tracking_update_at": "2019-08-24T14:15:22Z",
                        "last_update_at": "2019-08-24T14:15:22Z",
                        "location": {
                          "id": 0,
                          "name": "Cicero (IL)"
                        },
                        "measurements": {
                          "depth_in": 0,
                          "length_in": 0,
                          "total_weight_oz": 0,
                          "width_in": 0
                        },
                        "order_id": 0,
                        "package_material_type": "Unknown",
                        "parent_cartons": [
                          {
                            "barcode": "string",
                            "cartons": [
                              {
                                "barcode": "string",
                                "carton_details": [
                                  {
                                    "products": [
                                      {
                                        "id": 0,
                                        "inventory_items": [
                                          {
                                            "expiration_date": "2019-08-24T14:15:22Z",
                                            "id": 0,
                                            "is_dangerous_goods": true,
                                            "lot": "22222",
                                            "name": "Medium Blue T-Shirt",
                                            "quantity": 0,
                                            "quantity_committed": 0,
                                            "serial_numbers": [
                                              "string"
                                            ]
                                          }
                                        ],
                                        "name": "Medium Blue T-Shirt",
                                        "reference_id": "TShirtBlueM",
                                        "sku": "TShirtBlueM"
                                      }
                                    ]
                                  }
                                ],
                                "id": 0,
                                "measurements": {
                                  "depth_in": 0.1,
                                  "length_in": 0.1,
                                  "total_weight_oz": 0.1,
                                  "width_in": 0.1
                                },
                                "type": "Box or pallet"
                              }
                            ],
                            "measurements": {
                              "depth_in": 0.1,
                              "length_in": 0.1,
                              "total_weight_oz": 0.1,
                              "width_in": 0.1
                            },
                            "type": "Box or pallet"
                          }
                        ],
                        "products": [
                          {
                            "id": 0,
                            "inventory_items": [
                              {
                                "expiration_date": "2019-08-24T14:15:22Z",
                                "id": 0,
                                "is_dangerous_goods": true,
                                "lot": "22222",
                                "name": "Medium Blue T-Shirt",
                                "quantity": 0,
                                "quantity_committed": 0,
                                "serial_numbers": [
                                  "string"
                                ]
                              }
                            ],
                            "name": "Medium Blue T-Shirt",
                            "reference_id": "TShirtBlueM",
                            "sku": "TShirtBlueM"
                          }
                        ],
                        "recipient": {
                          "address": {
                            "address1": "100 Nowhere Blvd",
                            "address2": "Suite 100",
                            "city": "Gotham City",
                            "company_name": "Wayne Enterprises",
                            "country": "US",
                            "state": "NJ",
                            "zip_code": "07093"
                          },
                          "email": "john@example.com",
                          "full_name": "John Doe",
                          "name": "John Doe",
                          "phone_number": "555-555-5555"
                        },
                        "reference_id": "string",
                        "require_signature": true,
                        "ship_option": "Standard",
                        "status": "None",
                        "status_details": [
                          {
                            "description": "string",
                            "exception_fulfillment_center_id": 0,
                            "extra_information": {
                              "validation_messages": [
                                "string"
                              ]
                            },
                            "id": 0,
                            "inventory_id": 0,
                            "name": "string"
                          }
                        ],
                        "tracking": {
                          "bol": "string",
                          "carrier": "USPS",
                          "carrier_service": "Priority",
                          "pro_number": "string",
                          "scac": "string",
                          "shipping_date": "2019-08-24T14:15:22Z",
                          "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                          "tracking_url": "https://www.example.com/tracking?id=860C8CDC8F0B4FC7AB69AC86C20539EC"
                        }
                      }
                    ],
                    "shipping_method": "Free 2-day Shipping",
                    "shipping_terms": {
                      "carrier_type": "Parcel",
                      "payment_term": "Collect"
                    },
                    "status": "Processing",
                    "tags": [
                      {
                        "name": "Handling instructions",
                        "value": "Fragile"
                      }
                    ],
                    "type": "DTC"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.Unprocessable.Entity.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "x-name": "orders.CreateOrderModel",
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "$ref": "#/components/schemas/Orders.CreateOrderModel"
              }
            }
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Orders"
        ]
      },
      "get": {
        "summary": "Get Orders",
        "description": "All parameters are AND filters",
        "operationId": "b104a65e90eefe2b42929142ce7c1b99",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "description": "Page of orders to get",
            "schema": {
              "type": "number",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1,
              "additionalProperties": false
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "Amount of orders per page to request",
            "schema": {
              "type": "number",
              "format": "int32",
              "maximum": 250,
              "minimum": 1,
              "additionalProperties": false
            }
          },
          {
            "name": "IDs",
            "in": "query",
            "description": "order ids to filter by, comma separated \u003Cbr /\u003E\u003Cstrong\u003EExample:\u003C/strong\u003E ?IDs=1,2",
            "schema": {
              "type": "string",
              "additionalProperties": false,
              "items": {
                "type": "integer",
                "format": "int32",
                "additionalProperties": false
              }
            }
          },
          {
            "name": "ReferenceIds",
            "in": "query",
            "description": "Reference ids to filter by, comma separated \u003Cbr /\u003E\u003Cstrong\u003EExample:\u003C/strong\u003E ?ReferenceIds=Ref1,Ref2",
            "schema": {
              "type": "string",
              "additionalProperties": false,
              "items": {
                "type": "string",
                "additionalProperties": false
              }
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "Start date to filter orders inserted later than",
            "schema": {
              "type": "string",
              "format": "date-time",
              "additionalProperties": false
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "End date to filter orders inserted earlier than",
            "schema": {
              "type": "string",
              "format": "date-time",
              "additionalProperties": false
            }
          },
          {
            "name": "SortOrder",
            "in": "query",
            "description": "Order to sort results in",
            "schema": {
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "HasTracking",
            "in": "query",
            "description": "Has any portion of this order been assigned a tracking number",
            "schema": {
              "type": "boolean",
              "additionalProperties": false
            }
          },
          {
            "name": "LastUpdateStartDate",
            "in": "query",
            "description": "Start date to filter orders updated later than",
            "schema": {
              "type": "string",
              "format": "date-time",
              "additionalProperties": false
            }
          },
          {
            "name": "LastUpdateEndDate",
            "in": "query",
            "description": "End date to filter orders updated later than",
            "schema": {
              "type": "string",
              "format": "date-time",
              "additionalProperties": false
            }
          },
          {
            "name": "IsTrackingUploaded",
            "in": "query",
            "description": "Filter orders that their tracking information was fully uploaded",
            "schema": {
              "type": "boolean",
              "additionalProperties": false
            }
          },
          {
            "name": "LastTrackingUpdateStartDate",
            "in": "query",
            "description": "Start date to filter orders with tracking updates later than the supplied date. Will only return orders that have tracking information",
            "schema": {
              "type": "string",
              "format": "date-time",
              "additionalProperties": false
            }
          },
          {
            "name": "LastTrackingUpdateEndDate",
            "in": "query",
            "description": "End date to filter orders updated later than the supplied date. Will only return orders that have tracking information",
            "schema": {
              "type": "string",
              "format": "date-time",
              "additionalProperties": false
            }
          },
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "description": "Channel Id for Operation",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.OrderViewModelArray"
                },
                "example": {
                  "application/json": [
                    {
                      "channel": {
                        "id": 0,
                        "name": "ShipBobs-Shopify-Store"
                      },
                      "created_date": "2019-08-24T14:15:22Z",
                      "financials": {
                        "total_price": 0.1
                      },
                      "gift_message": "string",
                      "id": 0,
                      "order_number": "string",
                      "products": [
                        {
                          "external_line_id": 0,
                          "gtin": "string",
                          "id": 0,
                          "quantity": 0,
                          "quantity_unit_of_measure_code": "string",
                          "reference_id": "TShirtBlueM",
                          "sku": "TShirtBlueM",
                          "unit_price": 0.1,
                          "upc": "string"
                        }
                      ],
                      "purchase_date": "2019-08-24T14:15:22Z",
                      "recipient": {
                        "address": {
                          "address1": "100 Nowhere Blvd",
                          "address2": "Suite 100",
                          "city": "Gotham City",
                          "company_name": "Wayne Enterprises",
                          "country": "US",
                          "state": "NJ",
                          "zip_code": "07093"
                        },
                        "email": "john@example.com",
                        "name": "John Doe",
                        "phone_number": "555-555-5555"
                      },
                      "reference_id": "string",
                      "retailer_program_data": {
                        "addresses": [
                          {
                            "address1": "100 Nowhere Blvd",
                            "address2": "Suite 100",
                            "city": "Gotham City",
                            "company_name": "Wayne Enterprises",
                            "country": "US",
                            "state": "NJ",
                            "type": "MarkFor",
                            "zip_code": "07093"
                          }
                        ],
                        "customer_ticket_number": "string",
                        "delivery_date": "2019-08-24T14:15:22Z",
                        "department": "string",
                        "doNotShipBeforeDate": "2019-08-24T14:15:22Z",
                        "mark_for_store": "string",
                        "purchase_order_number": "string",
                        "retailer_program_type": "string",
                        "shipByDate": "2019-08-24T14:15:22Z"
                      },
                      "shipments": [
                        {
                          "actual_fulfillment_date": "2019-08-24T14:15:22Z",
                          "created_date": "2019-08-24T14:15:22Z",
                          "delivery_date": "2019-08-24T14:15:22Z",
                          "estimated_fulfillment_date": "2019-08-24T14:15:22Z",
                          "estimated_fulfillment_date_status": "AwaitingInventoryAllocation",
                          "gift_message": "string",
                          "id": 0,
                          "insurance_value": 0,
                          "invoice_amount": 0,
                          "invoice_currency_code": "string",
                          "is_tracking_uploaded": true,
                          "last_tracking_update_at": "2019-08-24T14:15:22Z",
                          "last_update_at": "2019-08-24T14:15:22Z",
                          "location": {
                            "id": 0,
                            "name": "Cicero (IL)"
                          },
                          "measurements": {
                            "depth_in": 0,
                            "length_in": 0,
                            "total_weight_oz": 0,
                            "width_in": 0
                          },
                          "order_id": 0,
                          "package_material_type": "Unknown",
                          "parent_cartons": [
                            {
                              "barcode": "string",
                              "cartons": [
                                {
                                  "barcode": "string",
                                  "carton_details": [
                                    {
                                      "products": [
                                        {
                                          "id": 0,
                                          "inventory_items": [
                                            {
                                              "expiration_date": "2019-08-24T14:15:22Z",
                                              "id": 0,
                                              "is_dangerous_goods": true,
                                              "lot": "22222",
                                              "name": "Medium Blue T-Shirt",
                                              "quantity": 0,
                                              "quantity_committed": 0,
                                              "serial_numbers": [null]
                                            }
                                          ],
                                          "name": "Medium Blue T-Shirt",
                                          "reference_id": "TShirtBlueM",
                                          "sku": "TShirtBlueM"
                                        }
                                      ]
                                    }
                                  ],
                                  "id": 0,
                                  "measurements": {
                                    "depth_in": 0.1,
                                    "length_in": 0.1,
                                    "total_weight_oz": 0.1,
                                    "width_in": 0.1
                                  },
                                  "type": "Box or pallet"
                                }
                              ],
                              "measurements": {
                                "depth_in": 0.1,
                                "length_in": 0.1,
                                "total_weight_oz": 0.1,
                                "width_in": 0.1
                              },
                              "type": "Box or pallet"
                            }
                          ],
                          "products": [
                            {
                              "id": 0,
                              "inventory_items": [
                                {
                                  "expiration_date": "2019-08-24T14:15:22Z",
                                  "id": 0,
                                  "is_dangerous_goods": true,
                                  "lot": "22222",
                                  "name": "Medium Blue T-Shirt",
                                  "quantity": 0,
                                  "quantity_committed": 0,
                                  "serial_numbers": [
                                    "string"
                                  ]
                                }
                              ],
                              "name": "Medium Blue T-Shirt",
                              "reference_id": "TShirtBlueM",
                              "sku": "TShirtBlueM"
                            }
                          ],
                          "recipient": {
                            "address": {
                              "address1": "100 Nowhere Blvd",
                              "address2": "Suite 100",
                              "city": "Gotham City",
                              "company_name": "Wayne Enterprises",
                              "country": "US",
                              "state": "NJ",
                              "zip_code": "07093"
                            },
                            "email": "john@example.com",
                            "full_name": "John Doe",
                            "name": "John Doe",
                            "phone_number": "555-555-5555"
                          },
                          "reference_id": "string",
                          "require_signature": true,
                          "ship_option": "Standard",
                          "status": "None",
                          "status_details": [
                            {
                              "description": "string",
                              "exception_fulfillment_center_id": 0,
                              "extra_information": {
                                "validation_messages": [
                                  "string"
                                ]
                              },
                              "id": 0,
                              "inventory_id": 0,
                              "name": "string"
                            }
                          ],
                          "tracking": {
                            "bol": "string",
                            "carrier": "USPS",
                            "carrier_service": "Priority",
                            "pro_number": "string",
                            "scac": "string",
                            "shipping_date": "2019-08-24T14:15:22Z",
                            "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                            "tracking_url": "https://www.example.com/tracking?id=860C8CDC8F0B4FC7AB69AC86C20539EC"
                          }
                        }
                      ],
                      "shipping_method": "Free 2-day Shipping",
                      "shipping_terms": {
                        "carrier_type": "Parcel",
                        "payment_term": "Collect"
                      },
                      "status": "Processing",
                      "tags": [
                        {
                          "name": "Handling instructions",
                          "value": "Fragile"
                        }
                      ],
                      "type": "DTC"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Get.Api.Order.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/order/{orderId}/cancel": {
      "post": {
        "summary": "Cancel single Order by Order ID",
        "operationId": "3a6639775d28e552e545761a24e90fab",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The order ID to cancel",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          },
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "required": true,
            "description": "Channel ID for Operation",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.CanceledOrderViewModel"
                },
                "example": {
                  "application/json": {
                    "canceled_shipment_results": [
                      {
                        "action": "Cancel",
                        "is_success": true,
                        "reason": "string",
                        "shipment_id": 0
                      }
                    ],
                    "order": {
                      "channel": {
                        "id": 0,
                        "name": "ShipBobs-Shopify-Store"
                      },
                      "created_date": "2019-08-24T14:15:22Z",
                      "financials": {
                        "total_price": 0.1
                      },
                      "gift_message": "string",
                      "id": 0,
                      "order_number": "string",
                      "products": [
                        {
                          "external_line_id": 0,
                          "gtin": "string",
                          "id": 0,
                          "quantity": 0,
                          "quantity_unit_of_measure_code": "string",
                          "reference_id": "TShirtBlueM",
                          "sku": "TShirtBlueM",
                          "unit_price": 0.1,
                          "upc": "string"
                        }
                      ],
                      "purchase_date": "2019-08-24T14:15:22Z",
                      "recipient": {
                        "address": {
                          "address1": "100 Nowhere Blvd",
                          "address2": "Suite 100",
                          "city": "Gotham City",
                          "company_name": "Wayne Enterprises",
                          "country": "US",
                          "state": "NJ",
                          "zip_code": "07093"
                        },
                        "email": "john@example.com",
                        "name": "John Doe",
                        "phone_number": "555-555-5555"
                      },
                      "reference_id": "string",
                      "retailer_program_data": {
                        "addresses": [
                          {
                            "address1": "100 Nowhere Blvd",
                            "address2": "Suite 100",
                            "city": "Gotham City",
                            "company_name": "Wayne Enterprises",
                            "country": "US",
                            "state": "NJ",
                            "type": "MarkFor",
                            "zip_code": "07093"
                          }
                        ],
                        "customer_ticket_number": "string",
                        "delivery_date": "2019-08-24T14:15:22Z",
                        "department": "string",
                        "doNotShipBeforeDate": "2019-08-24T14:15:22Z",
                        "mark_for_store": "string",
                        "purchase_order_number": "string",
                        "retailer_program_type": "string",
                        "shipByDate": "2019-08-24T14:15:22Z"
                      },
                      "shipments": [
                        {
                          "actual_fulfillment_date": "2019-08-24T14:15:22Z",
                          "created_date": "2019-08-24T14:15:22Z",
                          "delivery_date": "2019-08-24T14:15:22Z",
                          "estimated_fulfillment_date": "2019-08-24T14:15:22Z",
                          "estimated_fulfillment_date_status": "AwaitingInventoryAllocation",
                          "gift_message": "string",
                          "id": 0,
                          "insurance_value": 0,
                          "invoice_amount": 0,
                          "invoice_currency_code": "string",
                          "is_tracking_uploaded": true,
                          "last_tracking_update_at": "2019-08-24T14:15:22Z",
                          "last_update_at": "2019-08-24T14:15:22Z",
                          "location": {
                            "id": 0,
                            "name": "Cicero (IL)"
                          },
                          "measurements": {
                            "depth_in": 0,
                            "length_in": 0,
                            "total_weight_oz": 0,
                            "width_in": 0
                          },
                          "order_id": 0,
                          "package_material_type": "Unknown",
                          "parent_cartons": [
                            {
                              "barcode": "string",
                              "cartons": [
                                {
                                  "barcode": "string",
                                  "carton_details": [
                                    {
                                      "products": [
                                        {
                                          "id": 0,
                                          "inventory_items": [
                                            {
                                              "expiration_date": "2019-08-24T14:15:22Z",
                                              "id": 0,
                                              "is_dangerous_goods": true,
                                              "lot": "22222",
                                              "name": "Medium Blue T-Shirt",
                                              "quantity": 0,
                                              "quantity_committed": 0,
                                              "serial_numbers": [null]
                                            }
                                          ],
                                          "name": "Medium Blue T-Shirt",
                                          "reference_id": "TShirtBlueM",
                                          "sku": "TShirtBlueM"
                                        }
                                      ]
                                    }
                                  ],
                                  "id": 0,
                                  "measurements": {
                                    "depth_in": 0.1,
                                    "length_in": 0.1,
                                    "total_weight_oz": 0.1,
                                    "width_in": 0.1
                                  },
                                  "type": "Box or pallet"
                                }
                              ],
                              "measurements": {
                                "depth_in": 0.1,
                                "length_in": 0.1,
                                "total_weight_oz": 0.1,
                                "width_in": 0.1
                              },
                              "type": "Box or pallet"
                            }
                          ],
                          "products": [
                            {
                              "id": 0,
                              "inventory_items": [
                                {
                                  "expiration_date": "2019-08-24T14:15:22Z",
                                  "id": 0,
                                  "is_dangerous_goods": true,
                                  "lot": "22222",
                                  "name": "Medium Blue T-Shirt",
                                  "quantity": 0,
                                  "quantity_committed": 0,
                                  "serial_numbers": [
                                    "string"
                                  ]
                                }
                              ],
                              "name": "Medium Blue T-Shirt",
                              "reference_id": "TShirtBlueM",
                              "sku": "TShirtBlueM"
                            }
                          ],
                          "recipient": {
                            "address": {
                              "address1": "100 Nowhere Blvd",
                              "address2": "Suite 100",
                              "city": "Gotham City",
                              "company_name": "Wayne Enterprises",
                              "country": "US",
                              "state": "NJ",
                              "zip_code": "07093"
                            },
                            "email": "john@example.com",
                            "full_name": "John Doe",
                            "name": "John Doe",
                            "phone_number": "555-555-5555"
                          },
                          "reference_id": "string",
                          "require_signature": true,
                          "ship_option": "Standard",
                          "status": "None",
                          "status_details": [
                            {
                              "description": "string",
                              "exception_fulfillment_center_id": 0,
                              "extra_information": {
                                "validation_messages": [
                                  "string"
                                ]
                              },
                              "id": 0,
                              "inventory_id": 0,
                              "name": "string"
                            }
                          ],
                          "tracking": {
                            "bol": "string",
                            "carrier": "USPS",
                            "carrier_service": "Priority",
                            "pro_number": "string",
                            "scac": "string",
                            "shipping_date": "2019-08-24T14:15:22Z",
                            "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                            "tracking_url": "https://www.example.com/tracking?id=860C8CDC8F0B4FC7AB69AC86C20539EC"
                          }
                        }
                      ],
                      "shipping_method": "Free 2-day Shipping",
                      "shipping_terms": {
                        "carrier_type": "Parcel",
                        "payment_term": "Collect"
                      },
                      "status": "Processing",
                      "tags": [
                        {
                          "name": "Handling instructions",
                          "value": "Fragile"
                        }
                      ],
                      "type": "DTC"
                    },
                    "order_id": 0,
                    "status": "Success"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.OrderId.Cancel.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.OrderId.Cancel.Unprocessable.Entity.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Order.OrderId.Cancel.Internal.Server.Error.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/order/{orderId}/shipment": {
      "get": {
        "summary": "Get all Shipments for Order",
        "operationId": "1e0815dcfb1c817c448dfd569dbe8c21",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The order id to get shipments for",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          },
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "description": "Channel Id for Operation",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Get.Api.Order.OrderId.Shipment.OK.OneOfArray"
                },
                "example": {
                  "application/json": [
                    {
                      "actual_fulfillment_date": "2019-08-24T14:15:22Z",
                      "created_date": "2019-08-24T14:15:22Z",
                      "delivery_date": "2019-08-24T14:15:22Z",
                      "estimated_fulfillment_date": "2019-08-24T14:15:22Z",
                      "estimated_fulfillment_date_status": "AwaitingInventoryAllocation",
                      "gift_message": "string",
                      "id": 0,
                      "insurance_value": 0,
                      "invoice_amount": 0,
                      "invoice_currency_code": "string",
                      "is_tracking_uploaded": true,
                      "last_tracking_update_at": "2019-08-24T14:15:22Z",
                      "last_update_at": "2019-08-24T14:15:22Z",
                      "location": {
                        "id": 0,
                        "name": "Cicero (IL)"
                      },
                      "measurements": {
                        "depth_in": 0,
                        "length_in": 0,
                        "total_weight_oz": 0,
                        "width_in": 0
                      },
                      "order_id": 0,
                      "package_material_type": "Unknown",
                      "parent_cartons": [
                        {
                          "barcode": "string",
                          "cartons": [
                            {
                              "barcode": "string",
                              "carton_details": [
                                {
                                  "products": [
                                    {
                                      "id": 0,
                                      "inventory_items": [
                                        {
                                          "expiration_date": "2019-08-24T14:15:22Z",
                                          "id": 0,
                                          "is_dangerous_goods": true,
                                          "lot": "22222",
                                          "name": "Medium Blue T-Shirt",
                                          "quantity": 0,
                                          "quantity_committed": 0,
                                          "serial_numbers": [
                                            "string"
                                          ]
                                        }
                                      ],
                                      "name": "Medium Blue T-Shirt",
                                      "reference_id": "TShirtBlueM",
                                      "sku": "TShirtBlueM"
                                    }
                                  ]
                                }
                              ],
                              "id": 0,
                              "measurements": {
                                "depth_in": 0.1,
                                "length_in": 0.1,
                                "total_weight_oz": 0.1,
                                "width_in": 0.1
                              },
                              "type": "Box or pallet"
                            }
                          ],
                          "measurements": {
                            "depth_in": 0.1,
                            "length_in": 0.1,
                            "total_weight_oz": 0.1,
                            "width_in": 0.1
                          },
                          "type": "Box or pallet"
                        }
                      ],
                      "products": [
                        {
                          "id": 0,
                          "inventory_items": [
                            {
                              "expiration_date": "2019-08-24T14:15:22Z",
                              "id": 0,
                              "is_dangerous_goods": true,
                              "lot": "22222",
                              "name": "Medium Blue T-Shirt",
                              "quantity": 0,
                              "quantity_committed": 0,
                              "serial_numbers": [
                                "string"
                              ]
                            }
                          ],
                          "name": "Medium Blue T-Shirt",
                          "reference_id": "TShirtBlueM",
                          "sku": "TShirtBlueM"
                        }
                      ],
                      "recipient": {
                        "address": {
                          "address1": "100 Nowhere Blvd",
                          "address2": "Suite 100",
                          "city": "Gotham City",
                          "company_name": "Wayne Enterprises",
                          "country": "US",
                          "state": "NJ",
                          "zip_code": "07093"
                        },
                        "email": "john@example.com",
                        "full_name": "John Doe",
                        "name": "John Doe",
                        "phone_number": "555-555-5555"
                      },
                      "reference_id": "string",
                      "require_signature": true,
                      "ship_option": "Standard",
                      "status": "None",
                      "status_details": [
                        {
                          "description": "string",
                          "exception_fulfillment_center_id": 0,
                          "extra_information": {
                            "validation_messages": [
                              "string"
                            ]
                          },
                          "id": 0,
                          "inventory_id": 0,
                          "name": "string"
                        }
                      ],
                      "tracking": {
                        "bol": "string",
                        "carrier": "USPS",
                        "carrier_service": "Priority",
                        "pro_number": "string",
                        "scac": "string",
                        "shipping_date": "2019-08-24T14:15:22Z",
                        "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                        "tracking_url": "https://www.example.com/tracking?id=860C8CDC8F0B4FC7AB69AC86C20539EC"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Get.Api.Order.OrderId.Shipment.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "PAT": []
          },
          {
            "OAuth2": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/shipment/{shipmentId}/cancel": {
      "post": {
        "summary": "Cancel one Shipment by Shipment Id",
        "operationId": "45f79207b988587991d84f65bd5f823f",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "description": "The shipment id to get",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          },
          {
            "name": "shipbob_channel_id",
            "in": "header",
            "description": "Channel Id for Operation",
            "schema": {
              "type": "string",
              "format": "int32",
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Shipment.ShipmentId.Cancel.OK.OneOf.ShipmentViewModel.InternalShipmentViewModel"
                },
                "example": {
                  "application/json": {
                    "actual_fulfillment_date": "2019-08-24T14:15:22Z",
                    "created_date": "2019-08-24T14:15:22Z",
                    "delivery_date": "2019-08-24T14:15:22Z",
                    "estimated_fulfillment_date": "2019-08-24T14:15:22Z",
                    "estimated_fulfillment_date_status": "AwaitingInventoryAllocation",
                    "gift_message": "string",
                    "id": 0,
                    "insurance_value": 0,
                    "invoice_amount": 0,
                    "invoice_currency_code": "string",
                    "is_tracking_uploaded": true,
                    "last_tracking_update_at": "2019-08-24T14:15:22Z",
                    "last_update_at": "2019-08-24T14:15:22Z",
                    "location": {
                      "id": 0,
                      "name": "Cicero (IL)"
                    },
                    "measurements": {
                      "depth_in": 0,
                      "length_in": 0,
                      "total_weight_oz": 0,
                      "width_in": 0
                    },
                    "order_id": 0,
                    "package_material_type": "Unknown",
                    "parent_cartons": [
                      {
                        "barcode": "string",
                        "cartons": [
                          {
                            "barcode": "string",
                            "carton_details": [
                              {
                                "products": [
                                  {
                                    "id": 0,
                                    "inventory_items": [
                                      {
                                        "expiration_date": "2019-08-24T14:15:22Z",
                                        "id": 0,
                                        "is_dangerous_goods": true,
                                        "lot": "22222",
                                        "name": "Medium Blue T-Shirt",
                                        "quantity": 0,
                                        "quantity_committed": 0,
                                        "serial_numbers": [
                                          "string"
                                        ]
                                      }
                                    ],
                                    "name": "Medium Blue T-Shirt",
                                    "reference_id": "TShirtBlueM",
                                    "sku": "TShirtBlueM"
                                  }
                                ]
                              }
                            ],
                            "id": 0,
                            "measurements": {
                              "depth_in": 0.1,
                              "length_in": 0.1,
                              "total_weight_oz": 0.1,
                              "width_in": 0.1
                            },
                            "type": "Box or pallet"
                          }
                        ],
                        "measurements": {
                          "depth_in": 0.1,
                          "length_in": 0.1,
                          "total_weight_oz": 0.1,
                          "width_in": 0.1
                        },
                        "type": "Box or pallet"
                      }
                    ],
                    "products": [
                      {
                        "id": 0,
                        "inventory_items": [
                          {
                            "expiration_date": "2019-08-24T14:15:22Z",
                            "id": 0,
                            "is_dangerous_goods": true,
                            "lot": "22222",
                            "name": "Medium Blue T-Shirt",
                            "quantity": 0,
                            "quantity_committed": 0,
                            "serial_numbers": [
                              "string"
                            ]
                          }
                        ],
                        "name": "Medium Blue T-Shirt",
                        "reference_id": "TShirtBlueM",
                        "sku": "TShirtBlueM"
                      }
                    ],
                    "recipient": {
                      "address": {
                        "address1": "100 Nowhere Blvd",
                        "address2": "Suite 100",
                        "city": "Gotham City",
                        "company_name": "Wayne Enterprises",
                        "country": "US",
                        "state": "NJ",
                        "zip_code": "07093"
                      },
                      "email": "john@example.com",
                      "full_name": "John Doe",
                      "name": "John Doe",
                      "phone_number": "555-555-5555"
                    },
                    "reference_id": "string",
                    "require_signature": true,
                    "ship_option": "Standard",
                    "status": "None",
                    "status_details": [
                      {
                        "description": "string",
                        "exception_fulfillment_center_id": 0,
                        "extra_information": {
                          "validation_messages": [
                            "string"
                          ]
                        },
                        "id": 0,
                        "inventory_id": 0,
                        "name": "string"
                      }
                    ],
                    "tracking": {
                      "bol": "string",
                      "carrier": "USPS",
                      "carrier_service": "Priority",
                      "pro_number": "string",
                      "scac": "string",
                      "shipping_date": "2019-08-24T14:15:22Z",
                      "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                      "tracking_url": "https://www.example.com/tracking?id=860C8CDC8F0B4FC7AB69AC86C20539EC"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Shipment.ShipmentId.Cancel.Bad.Request.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No access right at this time"
          },
          "403": {
            "description": "No access"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Shipment.ShipmentId.Cancel.Unprocessable.Entity.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
                      "string"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "$ref": "#/components/schemas/Orders.Post.Api.Shipment.ShipmentId.Cancel.Internal.Server.Error.Object"
                },
                "example": {
                  "application/json": {
                    "property1": [
                      "string"
                    ],
                    "property2": [
[...]
