{
    "openapi": "3.0.4",
    "info": {
        "title": "1.0",
        "description": "",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.shipbob.com/1.0"
        }
    ],
    "paths": {
        "/return": {
            "post": {
                "tags": [
                    "Returns"
                ],
                "summary": "Create Return Order\n",
                "operationId": "729d0c0abc4835ba638c9a2a66ebc2d4",
                "parameters": [
                    {
                        "name": "shipbob_channel_id",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Post.Api.V1.Public.Create.Shipbob.Channel.Id.Integer"
                        }
                    },
                    {
                        "name": "creationSourceId",
                        "in": "header",
                        "description": "",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Post.Api.V1.Public.Create.CreationSourceId.Integer"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": 3,
                                "externalValue": ""
                            }
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Returns.CreateReturnRequest"
                            },
                            "examples": {
                                "default": {
                                    "summary": "",
                                    "description": "",
                                    "value": {
                                        "fulfillmentCenter": {
                                            "id": 0,
                                            "name": "string"
                                        },
                                        "inventory": [
                                            {
                                                "id": 0,
                                                "lotDate": "2019-08-24T14:15:22.0000000+00:00",
                                                "lotNumber": "string",
                                                "quantity": 0,
                                                "requestedAction": 0
                                            }
                                        ],
                                        "originalShipmentId": 0,
                                        "referenceId": "string",
                                        "trackingNumber": "string"
                                    },
                                    "externalValue": ""
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Returns.CreateReturnRequest"
                            },
                            "examples": {
                                "default": {
                                    "summary": "",
                                    "description": "",
                                    "value": {
                                        "fulfillmentCenter": {
                                            "id": 0,
                                            "name": "string"
                                        },
                                        "inventory": [
                                            {
                                                "id": 0,
                                                "lotDate": "2019-08-24T14:15:22.0000000+00:00",
                                                "lotNumber": "string",
                                                "quantity": 0,
                                                "requestedAction": 0
                                            }
                                        ],
                                        "originalShipmentId": 0,
                                        "referenceId": "string",
                                        "trackingNumber": "string"
                                    },
                                    "externalValue": ""
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Returns.CreateReturnRequest"
                            },
                            "examples": {
                                "default": {
                                    "summary": "",
                                    "description": "",
                                    "value": {
                                        "fulfillmentCenter": {
                                            "id": 0,
                                            "name": "string"
                                        },
                                        "inventory": [
                                            {
                                                "id": 0,
                                                "lotDate": "2019-08-24T14:15:22.0000000+00:00",
                                                "lotNumber": "string",
                                                "quantity": 0,
                                                "requestedAction": 0
                                            }
                                        ],
                                        "originalShipmentId": 0,
                                        "referenceId": "string",
                                        "trackingNumber": "string"
                                    },
                                    "externalValue": ""
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Authorization missing or invalid"
                    },
                    "403": {
                        "description": "The provided credentials are not authorized to access this resource"
                    }
                }
            },
            "get": {
                "tags": [
                    "Returns"
                ],
                "summary": "Get Return Orders\n",
                "operationId": "09ca3f93325d9c169f4d54f2d37ee0b0",
                "parameters": [
                    {
                        "name": "Page",
                        "in": "query",
                        "description": "Page of return orders to get",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.Page.Integer"
                        }
                    },
                    {
                        "name": "Limit",
                        "in": "query",
                        "description": "Amount of return orders per page to request",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.Limit.Integer"
                        }
                    },
                    {
                        "name": "SortOrder",
                        "in": "query",
                        "description": "Order to sort results by",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.SortOrder"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": "Newest",
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "StartDate",
                        "in": "query",
                        "description": "Start date to filter orders inserted later than",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.StartDate.String"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": "2019-08-24T14:15:22+00:00",
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "EndDate",
                        "in": "query",
                        "description": "End date to filter orders inserted earlier than",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.EndDate.String"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": "2019-08-24T14:15:22+00:00",
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "IDs",
                        "in": "query",
                        "description": "Comma separated list of return orders ids to filter by",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.IDs.IntegerArray"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": [
                                    0
                                ],
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "ReferenceIds",
                        "in": "query",
                        "description": "Comma separated list of reference ids to filter by",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.ReferenceIds.StringArray"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": [
                                    "string"
                                ],
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "Status",
                        "in": "query",
                        "description": "Comma separated list of statuses to filter by",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.ReturnStatusArray"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": [
                                    "AwaitingArrival"
                                ],
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "FulfillmentCenterIds",
                        "in": "query",
                        "description": "Comma separated list of destination fulfillment center IDs to filter by",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.FulfillmentCenterIds.IntegerArray"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": [
                                    0
                                ],
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "TrackingNumbers",
                        "in": "query",
                        "description": "Comma separated list of tracking numbers to filter by",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.TrackingNumbers.StringArray"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": [
                                    "string"
                                ],
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "OriginalShipmentIds",
                        "in": "query",
                        "description": "Comma separated list of original shipment IDs to filter by",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.OriginalShipmentIds.IntegerArray"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": [
                                    0
                                ],
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "InventoryIds",
                        "in": "query",
                        "description": "Comma separated list of inventory IDs contained in return to filter by",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.InventoryIds.IntegerArray"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": [
                                    0
                                ],
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "shipbob_channel_id",
                        "in": "header",
                        "description": "",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.Shipbob.Channel.Id.Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "Page-Number": {
                                "description": "Number of the current page",
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Get.1.0.Return.OK.Page.Number.Int"
                                }
                            },
                            "Total-Pages": {
                                "description": "Total number of pages of results",
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Get.1.0.Return.OK.Total.Pages.Int"
                                }
                            },
                            "Total-Count": {
                                "description": "Total number of results",
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Get.1.0.Return.OK.Total.Count.Int"
                                }
                            },
                            "Page-Size": {
                                "description": "Number of results per page",
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Get.1.0.Return.OK.Page.Size.Int"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.ReturnOrderViewModelArray"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": [
                                            {
                                                "channel": {
                                                    "id": 0,
                                                    "name": "ShipBobs-Shopify-Store"
                                                },
                                                "completed_date": "2019-08-24T14:15:22.0000000+00:00",
                                                "customer_name": "string",
                                                "fulfillment_center": {
                                                    "id": 0,
                                                    "name": "Cicero (IL)"
                                                },
                                                "id": 0,
                                                "insert_date": "2019-08-24T14:15:22.0000000+00:00",
                                                "inventory": [
                                                    {
                                                        "action_requested": {
                                                            "action": "Default",
                                                            "action_type": "InventoryDefault",
                                                            "instructions": "string"
                                                        },
                                                        "action_taken": [
                                                            {
                                                                "action": "Default",
                                                                "action_reason": "string",
                                                                "lot_information": [
                                                                    {
                                                                        "expiration_date": "2019-08-24T14:15:22.0000000+00:00",
                                                                        "lot_number": "string",
                                                                        "quantity_processed": 0
                                                                    }
                                                                ],
                                                                "quantity_processed": 1
                                                            }
                                                        ],
                                                        "id": 0,
                                                        "name": "string",
                                                        "quantity": 0
                                                    }
                                                ],
                                                "invoice_amount": 0.1,
                                                "original_shipment_id": 0,
                                                "reference_id": "string",
                                                "return_type": "Regular",
                                                "status": "AwaitingArrival",
                                                "store_order_id": "string",
                                                "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                                                "transactions": [
                                                    {
                                                        "amount": 2.5,
                                                        "transaction_type": "ReturnLabelInvoice"
                                                    }
                                                ]
                                            }
                                        ],
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authorization missing or invalid"
                    },
                    "403": {
                        "description": "The provided credentials are not authorized to access this resource"
                    }
                }
            }
        },
        "/return/{id}/statushistory": {
            "get": {
                "tags": [
                    "Returns"
                ],
                "summary": "Get One Return's status history\n",
                "operationId": "0f8c7c349e3059ee2704f50148d11abe",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the return order",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.Id.Statushistory.Id.Integer"
                        }
                    },
                    {
                        "name": "shipbob_channel_id",
                        "in": "header",
                        "description": "Channel Id for Operation",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.Id.Statushistory.Shipbob.Channel.Id.Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.ReturnOrderStatusHistoryViewModelArray"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": [
                                            {
                                                "status": "AwaitingArrival",
                                                "time_stamp": "2019-08-24T14:15:22.0000000+00:00"
                                            }
                                        ],
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authorization missing or invalid"
                    },
                    "403": {
                        "description": "The provided credentials are not authorized to access this resource"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Get.1.0.Return.Id.Statushistory.Not.Found.OneOf.ValidationProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "errors": {
                                                "property1": [
                                                    "string"
                                                ],
                                                "property2": [
                                                    "string"
                                                ]
                                            },
                                            "extensions": {
                                                "property1": {},
                                                "property2": {}
                                            },
                                            "instance": "string",
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/return/{id}": {
            "get": {
                "tags": [
                    "Returns"
                ],
                "summary": "Get Return Order\n",
                "operationId": "7c1ecda086f397c4c23722abb27926ce",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the return order",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.Id.Id.Integer"
                        }
                    },
                    {
                        "name": "shipbob_channel_id",
                        "in": "header",
                        "description": "Channel Id for Operation",
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Get.1.0.Return.Id.Shipbob.Channel.Id.Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.ReturnOrderViewModel"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "channel": {
                                                "id": 0,
                                                "name": "ShipBobs-Shopify-Store"
                                            },
                                            "completed_date": "2019-08-24T14:15:22.0000000+00:00",
                                            "customer_name": "string",
                                            "fulfillment_center": {
                                                "id": 0,
                                                "name": "Cicero (IL)"
                                            },
                                            "id": 0,
                                            "insert_date": "2019-08-24T14:15:22.0000000+00:00",
                                            "inventory": [
                                                {
                                                    "action_requested": {
                                                        "action": "Default",
                                                        "action_type": "InventoryDefault",
                                                        "instructions": "string"
                                                    },
                                                    "action_taken": [
                                                        {
                                                            "action": "Default",
                                                            "action_reason": "string",
                                                            "lot_information": [
                                                                {
                                                                    "expiration_date": "2019-08-24T14:15:22.0000000+00:00",
                                                                    "lot_number": "string",
                                                                    "quantity_processed": 0
                                                                }
                                                            ],
                                                            "quantity_processed": 1
                                                        }
                                                    ],
                                                    "id": 0,
                                                    "name": "string",
                                                    "quantity": 0
                                                }
                                            ],
                                            "invoice_amount": 0.1,
                                            "original_shipment_id": 0,
                                            "reference_id": "string",
                                            "return_type": "Regular",
                                            "status": "AwaitingArrival",
                                            "store_order_id": "string",
                                            "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                                            "transactions": [
                                                {
                                                    "amount": 2.5,
                                                    "transaction_type": "ReturnLabelInvoice"
                                                }
                                            ]
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authorization missing or invalid"
                    },
                    "403": {
                        "description": "The provided credentials are not authorized to access this resource"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Get.1.0.Return.Id.Not.Found.OneOf.ValidationProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "errors": {
                                                "property1": [
                                                    "string"
                                                ],
                                                "property2": [
                                                    "string"
                                                ]
                                            },
                                            "extensions": {
                                                "property1": {},
                                                "property2": {}
                                            },
                                            "instance": "string",
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Returns"
                ],
                "summary": "Modify Return Order\n",
                "operationId": "8fd3220063faa081315dc98002f9fac8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the return order",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Put.1.0.Return.Id.Id.Integer"
                        }
                    },
                    {
                        "name": "shipbob_channel_id",
                        "in": "header",
                        "description": "Channel Id for Operation",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Put.1.0.Return.Id.Shipbob.Channel.Id.Integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Model defining the return",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Returns.CreateReturnViewModel"
                            },
                            "examples": {
                                "default": {
                                    "summary": "",
                                    "description": "",
                                    "value": {
                                        "fulfillment_center": {
                                            "id": 0,
                                            "name": "Cicero (IL)"
                                        },
                                        "inventory": [
                                            {
                                                "id": 111222,
                                                "quantity": 1,
                                                "requested_action": "Default"
                                            }
                                        ],
                                        "original_shipment_id": 123456,
                                        "reference_id": "ShipBob_Return_123",
                                        "tracking_number": "1Z9999999999999999"
                                    },
                                    "externalValue": ""
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Returns.CreateReturnViewModel"
                            },
                            "examples": {
                                "default": {
                                    "summary": "",
                                    "description": "",
                                    "value": {
                                        "fulfillment_center": {
                                            "id": 0,
                                            "name": "Cicero (IL)"
                                        },
                                        "inventory": [
                                            {
                                                "id": 111222,
                                                "quantity": 1,
                                                "requested_action": "Default"
                                            }
                                        ],
                                        "original_shipment_id": 123456,
                                        "reference_id": "ShipBob_Return_123",
                                        "tracking_number": "1Z9999999999999999"
                                    },
                                    "externalValue": ""
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Returns.CreateReturnViewModel"
                            },
                            "examples": {
                                "default": {
                                    "summary": "",
                                    "description": "",
                                    "value": {
                                        "fulfillment_center": {
                                            "id": 0,
                                            "name": "Cicero (IL)"
                                        },
                                        "inventory": [
                                            {
                                                "id": 111222,
                                                "quantity": 1,
                                                "requested_action": "Default"
                                            }
                                        ],
                                        "original_shipment_id": 123456,
                                        "reference_id": "ShipBob_Return_123",
                                        "tracking_number": "1Z9999999999999999"
                                    },
                                    "externalValue": ""
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Returns.CreateReturnViewModel"
                            },
                            "examples": {
                                "default": {
                                    "summary": "",
                                    "description": "",
                                    "value": {
                                        "fulfillment_center": {
                                            "id": 0,
                                            "name": "Cicero (IL)"
                                        },
                                        "inventory": [
                                            {
                                                "id": 111222,
                                                "quantity": 1,
                                                "requested_action": "Default"
                                            }
                                        ],
                                        "original_shipment_id": 123456,
                                        "reference_id": "ShipBob_Return_123",
                                        "tracking_number": "1Z9999999999999999"
                                    },
                                    "externalValue": ""
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.ReturnOrderViewModel"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "channel": {
                                                "id": 0,
                                                "name": "ShipBobs-Shopify-Store"
                                            },
                                            "completed_date": "2019-08-24T14:15:22.0000000+00:00",
                                            "customer_name": "string",
                                            "fulfillment_center": {
                                                "id": 0,
                                                "name": "Cicero (IL)"
                                            },
                                            "id": 0,
                                            "insert_date": "2019-08-24T14:15:22.0000000+00:00",
                                            "inventory": [
                                                {
                                                    "action_requested": {
                                                        "action": "Default",
                                                        "action_type": "InventoryDefault",
                                                        "instructions": "string"
                                                    },
                                                    "action_taken": [
                                                        {
                                                            "action": "Default",
                                                            "action_reason": "string",
                                                            "lot_information": [
                                                                {
                                                                    "expiration_date": "2019-08-24T14:15:22.0000000+00:00",
                                                                    "lot_number": "string",
                                                                    "quantity_processed": 0
                                                                }
                                                            ],
                                                            "quantity_processed": 1
                                                        }
                                                    ],
                                                    "id": 0,
                                                    "name": "string",
                                                    "quantity": 0
                                                }
                                            ],
                                            "invoice_amount": 0.1,
                                            "original_shipment_id": 0,
                                            "reference_id": "string",
                                            "return_type": "Regular",
                                            "status": "AwaitingArrival",
                                            "store_order_id": "string",
                                            "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                                            "transactions": [
                                                {
                                                    "amount": 2.5,
                                                    "transaction_type": "ReturnLabelInvoice"
                                                }
                                            ]
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Put.1.0.Return.Id.Bad.Request.OneOf.ValidationProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "errors": {
                                                "property1": [
                                                    "string"
                                                ],
                                                "property2": [
                                                    "string"
                                                ]
                                            },
                                            "extensions": {
                                                "property1": {},
                                                "property2": {}
                                            },
                                            "instance": "string",
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authorization missing or invalid"
                    },
                    "403": {
                        "description": "The provided credentials are not authorized to access this resource"
                    },
                    "422": {
                        "description": "Client Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Put.1.0.Return.Id.Unprocessable.Entity.OneOf.ValidationProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "errors": {
                                                "property1": [
                                                    "string"
                                                ],
                                                "property2": [
                                                    "string"
                                                ]
                                            },
                                            "extensions": {
                                                "property1": {},
                                                "property2": {}
                                            },
                                            "instance": "string",
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/return/{id}/cancel": {
            "post": {
                "tags": [
                    "Returns"
                ],
                "summary": "Cancel Return Order\n",
                "operationId": "99af59d858e43820eece4d8106b726c1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the return order",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Post.1.0.Return.Id.Cancel.Id.Integer"
                        }
                    },
                    {
                        "name": "shipbob_channel_id",
                        "in": "header",
                        "description": "Channel Id for Operation",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Returns.Post.1.0.Return.Id.Cancel.Shipbob.Channel.Id.Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.ReturnOrderViewModel"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "channel": {
                                                "id": 0,
                                                "name": "ShipBobs-Shopify-Store"
                                            },
                                            "completed_date": "2019-08-24T14:15:22.0000000+00:00",
                                            "customer_name": "string",
                                            "fulfillment_center": {
                                                "id": 0,
                                                "name": "Cicero (IL)"
                                            },
                                            "id": 0,
                                            "insert_date": "2019-08-24T14:15:22.0000000+00:00",
                                            "inventory": [
                                                {
                                                    "action_requested": {
                                                        "action": "Default",
                                                        "action_type": "InventoryDefault",
                                                        "instructions": "string"
                                                    },
                                                    "action_taken": [
                                                        {
                                                            "action": "Default",
                                                            "action_reason": "string",
                                                            "lot_information": [
                                                                {
                                                                    "expiration_date": "2019-08-24T14:15:22.0000000+00:00",
                                                                    "lot_number": "string",
                                                                    "quantity_processed": 0
                                                                }
                                                            ],
                                                            "quantity_processed": 1
                                                        }
                                                    ],
                                                    "id": 0,
                                                    "name": "string",
                                                    "quantity": 0
                                                }
                                            ],
                                            "invoice_amount": 0.1,
                                            "original_shipment_id": 0,
                                            "reference_id": "string",
                                            "return_type": "Regular",
                                            "status": "AwaitingArrival",
                                            "store_order_id": "string",
                                            "tracking_number": "860C8CDC8F0B4FC7AB69AC86C20539EC",
                                            "transactions": [
                                                {
                                                    "amount": 2.5,
                                                    "transaction_type": "ReturnLabelInvoice"
                                                }
                                            ]
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authorization missing or invalid"
                    },
                    "403": {
                        "description": "The provided credentials are not authorized to access this resource"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Post.1.0.Return.Id.Cancel.Not.Found.OneOf.ValidationProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "errors": {
                                                "property1": [
                                                    "string"
                                                ],
                                                "property2": [
                                                    "string"
                                                ]
                                            },
                                            "extensions": {
                                                "property1": {},
                                                "property2": {}
                                            },
                                            "instance": "string",
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Client Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Returns.Post.1.0.Return.Id.Cancel.Unprocessable.Entity.OneOf.ValidationProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "errors": {
                                                "property1": [
                                                    "string"
                                                ],
                                                "property2": [
                                                    "string"
                                                ]
                                            },
                                            "extensions": {
                                                "property1": {},
                                                "property2": {}
                                            },
                                            "instance": "string",
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inventory": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "List inventory items\n",
                "operationId": "55ea81cc486b4660a8c518109ef38bec",
                "parameters": [
                    {
                        "name": "Page",
                        "in": "query",
                        "description": "Page of inventory items to get\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.Page.Integer"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": 2147483647,
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "Limit",
                        "in": "query",
                        "description": "Amount of inventory items per page to request\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.Limit.Integer"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": 1,
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "IsActive",
                        "in": "query",
                        "description": "Whether the inventory should be active or not\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.IsActive.Boolean"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": "True",
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "IsDigital",
                        "in": "query",
                        "description": "Whether the inventory is digital or not\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.IsDigital.Boolean"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": "True",
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "IDs",
                        "in": "query",
                        "description": "Comma separated inventory ids to filter by\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.IDs.IntegerArray"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": [
                                    0
                                ],
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "description": "Sort will default to ascending order for each field. \nTo sort in descending order please pass a \"-\" in front of the field name. \nFor example, Sort=-onHand,name will sort by onHand descending\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.Sort.String"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": "string",
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "Search",
                        "in": "query",
                        "description": "Search is available for 2 fields, Inventory ID and Name -\n1. Expected behavior for search by Inventory ID is exact match\n2. Expected behavior for search by Inventory Name is partial match, i.e. does not have to be start of word, \nbut must be consecutive characters. This is not case sensitive.\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.Search.String"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": "string",
                                "externalValue": ""
                            }
                        }
                    },
                    {
                        "name": "LocationType",
                        "in": "query",
                        "description": "LocationType is valid for hub, spoke, or lts.\nLocationType will default to all locations.\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.LocationType.String"
                        },
                        "examples": {
                            "default": {
                                "summary": "",
                                "description": "",
                                "value": "string",
                                "externalValue": ""
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.InventoryViewModelArray"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": [
                                            {
                                                "dimensions": {
                                                    "depth": 0.1,
                                                    "length": 0.1,
                                                    "weight": 0.1,
                                                    "width": 0.1
                                                },
                                                "fulfillable_quantity_by_fulfillment_center": [
                                                    {
                                                        "awaiting_quantity": 0,
                                                        "committed_quantity": 0,
                                                        "fulfillable_quantity": 0,
                                                        "id": 0,
                                                        "internal_transfer_quantity": 0,
                                                        "name": "Cicero",
                                                        "onhand_quantity": 0
                                                    }
                                                ],
                                                "fulfillable_quantity_by_lot": [
                                                    {
                                                        "awaiting_quantity": 0,
                                                        "committed_quantity": 0,
                                                        "expiration_date": "2019-08-24T14:15:22.0000000+00:00",
                                                        "fulfillable_quantity": 0,
                                                        "fulfillable_quantity_by_fulfillment_center": [
                                                            {
                                                                "awaiting_quantity": 0,
                                                                "committed_quantity": 0,
                                                                "fulfillable_quantity": 0,
                                                                "id": 0,
                                                                "internal_transfer_quantity": 0,
                                                                "name": "Cicero",
                                                                "onhand_quantity": 0
                                                            }
                                                        ],
                                                        "internal_transfer_quantity": 0,
                                                        "lot_number": "1234",
                                                        "onhand_quantity": 0
                                                    }
                                                ],
                                                "id": 0,
                                                "is_active": true,
                                                "is_case_pick": true,
                                                "is_digital": true,
                                                "is_lot": true,
                                                "name": "Medium Blue T-Shirt",
                                                "packaging_attribute": "None",
                                                "total_awaiting_quantity": 0,
                                                "total_backordered_quantity": 0,
                                                "total_committed_quantity": 0,
                                                "total_exception_quantity": 0,
                                                "total_fulfillable_quantity": 0,
                                                "total_internal_transfer_quantity": 0,
                                                "total_onhand_quantity": 0,
                                                "total_sellable_quantity": 0
                                            }
                                        ],
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.Bad.Request.Object"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "property1": [
                                                "string"
                                            ],
                                            "property2": [
                                                "string"
                                            ]
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "instance": "string",
                                            "property1": null,
                                            "property2": null,
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/{productId}/inventory": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Get a list of inventory items by product id\n",
                "operationId": "7edeb14d70636173d38184a944a23735",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "The product id to get inventory for\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Product.ProductId.Inventory.ProductId.Integer"
                        }
                    },
                    {
                        "name": "shipbob_channel_id",
                        "in": "header",
                        "description": "Channel Id for Operation\n",
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Product.ProductId.Inventory.Shipbob.Channel.Id.Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.InventoryViewModelArray"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": [
                                            {
                                                "dimensions": {
                                                    "depth": 0.1,
                                                    "length": 0.1,
                                                    "weight": 0.1,
                                                    "width": 0.1
                                                },
                                                "fulfillable_quantity_by_fulfillment_center": [
                                                    {
                                                        "awaiting_quantity": 0,
                                                        "committed_quantity": 0,
                                                        "fulfillable_quantity": 0,
                                                        "id": 0,
                                                        "internal_transfer_quantity": 0,
                                                        "name": "Cicero",
                                                        "onhand_quantity": 0
                                                    }
                                                ],
                                                "fulfillable_quantity_by_lot": [
                                                    {
                                                        "awaiting_quantity": 0,
                                                        "committed_quantity": 0,
                                                        "expiration_date": "2019-08-24T14:15:22.0000000+00:00",
                                                        "fulfillable_quantity": 0,
                                                        "fulfillable_quantity_by_fulfillment_center": [
                                                            {
                                                                "awaiting_quantity": 0,
                                                                "committed_quantity": 0,
                                                                "fulfillable_quantity": 0,
                                                                "id": 0,
                                                                "internal_transfer_quantity": 0,
                                                                "name": "Cicero",
                                                                "onhand_quantity": 0
                                                            }
                                                        ],
                                                        "internal_transfer_quantity": 0,
                                                        "lot_number": "1234",
                                                        "onhand_quantity": 0
                                                    }
                                                ],
                                                "id": 0,
                                                "is_active": true,
                                                "is_case_pick": true,
                                                "is_digital": true,
                                                "is_lot": true,
                                                "name": "Medium Blue T-Shirt",
                                                "packaging_attribute": "None",
                                                "total_awaiting_quantity": 0,
                                                "total_backordered_quantity": 0,
                                                "total_committed_quantity": 0,
                                                "total_exception_quantity": 0,
                                                "total_fulfillable_quantity": 0,
                                                "total_internal_transfer_quantity": 0,
                                                "total_onhand_quantity": 0,
                                                "total_sellable_quantity": 0
                                            }
                                        ],
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.Get.Api.Product.ProductId.Inventory.Bad.Request.Object"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "property1": [
                                                "string"
                                            ],
                                            "property2": [
                                                "string"
                                            ]
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "instance": "string",
                                            "property1": null,
                                            "property2": null,
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inventory/{inventoryId}": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Get an inventory item\n",
                "operationId": "588a8bb9e4086c9f6a2bf1bf3d4beb55",
                "parameters": [
                    {
                        "name": "inventoryId",
                        "in": "path",
                        "description": "The inventory id to get\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.InventoryId.InventoryId.Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.InventoryViewModel"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "dimensions": {
                                                "depth": 0.1,
                                                "length": 0.1,
                                                "weight": 0.1,
                                                "width": 0.1
                                            },
                                            "fulfillable_quantity_by_fulfillment_center": [
                                                {
                                                    "awaiting_quantity": 0,
                                                    "committed_quantity": 0,
                                                    "fulfillable_quantity": 0,
                                                    "id": 0,
                                                    "internal_transfer_quantity": 0,
                                                    "name": "Cicero",
                                                    "onhand_quantity": 0
                                                }
                                            ],
                                            "fulfillable_quantity_by_lot": [
                                                {
                                                    "awaiting_quantity": 0,
                                                    "committed_quantity": 0,
                                                    "expiration_date": "2019-08-24T14:15:22.0000000+00:00",
                                                    "fulfillable_quantity": 0,
                                                    "fulfillable_quantity_by_fulfillment_center": [
                                                        {
                                                            "awaiting_quantity": 0,
                                                            "committed_quantity": 0,
                                                            "fulfillable_quantity": 0,
                                                            "id": 0,
                                                            "internal_transfer_quantity": 0,
                                                            "name": "Cicero",
                                                            "onhand_quantity": 0
                                                        }
                                                    ],
                                                    "internal_transfer_quantity": 0,
                                                    "lot_number": "1234",
                                                    "onhand_quantity": 0
                                                }
                                            ],
                                            "id": 0,
                                            "is_active": true,
                                            "is_case_pick": true,
                                            "is_digital": true,
                                            "is_lot": true,
                                            "name": "Medium Blue T-Shirt",
                                            "packaging_attribute": "None",
                                            "total_awaiting_quantity": 0,
                                            "total_backordered_quantity": 0,
                                            "total_committed_quantity": 0,
                                            "total_exception_quantity": 0,
                                            "total_fulfillable_quantity": 0,
                                            "total_internal_transfer_quantity": 0,
                                            "total_onhand_quantity": 0,
                                            "total_sellable_quantity": 0
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.Get.Api.Inventory.InventoryId.Bad.Request.Object"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "property1": [
                                                "string"
                                            ],
                                            "property2": [
                                                "string"
                                            ]
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory.ProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "instance": "string",
                                            "property1": null,
                                            "property2": null,
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/receiving/{id}/cancel": {
            "post": {
                "tags": [
                    "Receiving"
                ],
                "summary": "Cancel Warehouse Receiving Order (DEPRECATED)\n",
                "description": "This endpoint is deprecated. Please use /2.0/receiving/{id}/cancel\n",
                "operationId": "05726f2da83f42b30ae3370382ab615a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the receiving order to cancel",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Receiving.Post.1.0.Receiving.Id.Cancel.Id.Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Authorization missing or invalid"
                    },
                    "403": {
                        "description": "The provided credentials are not authorized to access this resource"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Receiving.Post.1.0.Receiving.Id.Cancel.Not.Found.OneOf.ValidationProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "errors": {
                                                "property1": [
                                                    "string"
                                                ],
                                                "property2": [
                                                    "string"
                                                ]
                                            },
                                            "instance": "string",
                                            "property1": {},
                                            "property2": {},
                                            "status": 0,
                                            "title": "string",
                                            "type": "string"
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Client Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Receiving.Post.1.0.Receiving.Id.Cancel.Unprocessable.Entity.Object"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "property1": [
                                                "string"
                                            ],
                                            "property2": [
                                                "string"
                                            ]
                                        },
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/receiving/{id}/labels": {
            "get": {
                "tags": [
                    "Receiving"
                ],
                "summary": "Get Warehouse Receiving Order Box Labels (DEPRECATED)\n",
                "description": "This endpoint is deprecated. Please use /2.0/receiving/{id}/labels\n",
                "operationId": "cbec9819f5c4be876e3dcaa0da85cdb2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the receiving order",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Receiving.Get.1.0.Receiving.Id.Labels.Id.Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "$ref": "#/components/schemas/Receiving.Get.1.0.Receiving.Id.Labels.OK.String"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": "string",
                                        "externalValue": ""
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Receiving.Get.1.0.Receiving.Id.Labels.OK.String"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": "string",
                                        "externalValue": ""
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "$ref": "#/components/schemas/Receiving.Get.1.0.Receiving.Id.Labels.Bad.Request.OneOf.ValidationProblemDetails"
                                },
                                "examples": {
                                    "default": {
                                        "summary": "",
                                        "description": "",
                                        "value": {
                                            "detail": "string",
                                            "errors": {
                                                "property1": [
                                                    "string"
                                                ],
                                                "property2": [
                                                    "string"
                                                ]
                                            },
                                            "instance": "string",
                                            "property1": {},
                                            "property2": {},
                                            "status": 0,
[...]
